<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Suriya</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'images/s1-removebg-preview.png' %}"
    />
    <link rel="stylesheet" href="{% static 'css/swap.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fancybox.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/media_query.css' %}" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Font Awesome CDN link (Free version) -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <style>
      @media (max-width: 991px) {
        .blog-img-section {
          display: flex !important;
          justify-content: center !important;
        }

        .blog-img-section img {
          width: 500px !important;
        }
      }

      @media (max-width: 426px) {
        .blog-img-section img {
          width: 330px !important;
        }
      }
      @media (max-width: 320px) {
        .blog-img-section img {
          width: 280px !important;
        }
      }
    </style>
  </head>
  <body>
    <div class="site_contain">
      <!-- ====================================== Preloader ===================================== -->
      <div class="page-loader">
        <img src="{% static 'images/loader.gif' %}" alt="loader" />
      </div>
      <!-- ====================================== Preloader End ===================================== -->
      <div class="fix-bg">
        <div class="Ellipse1"></div>
        <div class="Ellipse2"></div>
        <button id="menu-toggle" class="menu-toggle-button">
          <span class="hamburger" id="hamburger-1">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
          </span>
        </button>
        <div class="container">
          <!-- ====================================== Side Menu ===================================== -->
          <div class="side-menu">
            <div class="profile-img-main">
              <img
                class="zoom_in"
                src="{% static 'images/profile-img.png' %}"
                alt="profile-img"
              />
              <h1 class="fade_up">###</h1>
              <h2 class="designer fade_up">Web Developer</h2>
              <div class="profile-media-icons-main fade_up">
                <a
                  href="mailto:sksuriyakannan@gmail.com"
                  class="profile-media-icons"
                >
                  <img
                    src="{% static 'images/svg/email-svg.svg' %}"
                    alt="email-svg"
                  />
                </a>
                <a
                  target="_blank"
                  href="https://github.com/Suriyaprakash2023"
                  class="profile-media-icons"
                  style="max-width: 60% !important"
                >
                  <img
                    src="{% static 'images/svg/git.svg' %}"
                    alt="Behance Profile"
                    style="width: 60%; max-width: 40px"
                  />
                </a>
                <a
                  href="https://www.linkedin.com/in/suriyaprakash-p/"
                  class="profile-media-icons"
                >
                  <!-- <i class="fa-brands fa-linkedin text-white" ></i> -->
                  <img
                    src="{% static 'images/svg/icons-linkedin.png' %}"
                    style="width: 60%; max-width: 50px"
                    alt="drribale-svg"
                  />
                </a>
              </div>
            </div>
            <div class="menu-list-main">
              <ul>
                <li class="active-menu-action" onclick="redirectToHome()">
                  <a class="" href="{% url 'index' %}">
                    <img
                      src="{% static 'images/svg/home-svg.svg' %}"
                      alt="home-svg"
                    />Home
                  </a>
                </li>

                <li class="active-menu-action" onclick="redirectToAbout()">
                  <a class="fade_right" href="#about">
                    <img
                      src="{% static 'images/svg/about-svg.svg' %}"
                      alt="about-svg"
                    />About
                  </a>
                </li>

                <li class="active-menu-action" onclick="redirectToResume()">
                  <a class="fade_right" href="#resume">
                    <img
                      src="{% static 'images/svg/resume-svg.svg' %}"
                      alt="home-svg"
                    />Experience
                  </a>
                </li>

                <li class="active-menu-action" onclick="redirectToPortfolio()">
                  <a class="fade_right" href="#portfolio">
                    <img
                      src="{% static 'images/svg/portfolio-svg.svg' %}"
                      alt="home-svg"
                    />Projects
                  </a>
                </li>

                <li
                  class="active-menu-action"
                  id="contact-line"
                  onclick="redirectToContact()"
                >
                  <a class="fade_right" href="#contact">
                    <img
                      src="{% static 'images/svg/contact-svg.svg' %}"
                      alt="home-svg"
                    />Contact
                  </a>
                </li>
              </ul>
            </div>
            <div>
              <div id="wrap">
                <a href="pdf/olivia_resume.pdf" class="btn-slide">
                  <span class="circle">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                      fill="none"
                    >
                      <path
                        class="download-svg"
                        d="M13 12H16L12 16L8 12H11V8H13V12ZM15 4H5V20H19V8H15V4ZM3 2.9918C3 2.44405 3.44749 2 3.9985 2H16L20.9997 7L21 20.9925C21 21.5489 20.5551 22 20.0066 22H3.9934C3.44476 22 3 21.5447 3 21.0082V2.9918Z"
                        fill="white"
                      />
                    </svg>
                  </span>
                  <span class="title">Download CV</span>
                  <span class="title-hover">Click Here</span>
                </a>
              </div>
            </div>
          </div>
          <!-- ====================================== Side Menu End ===================================== -->
          <div class="main-containe" data-bs-spy="scroll">
            <!-- ====================================== Section Blogs ===================================== -->
            <section class="blog-section" id="blog">
              <div class="heading-container">
                <h2 class="section-heading-text coding-skill-text fade_up">
                  Flask Projects.
                </h2>
                <div class="line"></div>
              </div>
              <div class="blog-main zoom_in">
                <div class="blog-img-section">
                  <img
                    src="{% static 'images/screen.png' %}"
                    alt="flower"
                    style="height: 250px; width: 330px; border-radius: 20px"
                  />
                </div>
                <div>
                  <h3 class="post-date">19 November 2024 | Flask</h3>
                  <h4 class="steps">Tourm</h4>
                  <h5 style="color: #909090; font-size: medium">
                    I’m developing a tour booking app using Flask, where users
                    can book tours to various destinations. The app allows users
                    to browse destinations, select dates, and complete bookings.
                    The admin dashboard displays all booking details, enabling
                    efficient management and monitoring of bookings and user
                    activity.
                  </h5>
                  <div class="wrapper blog-btn">
                    <a
                      class="btn-hover me-3"
                      target="_blank"
                      href="https://discover-destinations.onrender.com"
                      >View Live
                      <svg
                        class="btn-arrow-right"
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                      >
                        <path
                          d="M21.5621 14.6665L14.4101 7.51452L16.2957 5.62891L26.6666 15.9999L16.2957 26.3707L14.4101 24.4851L21.5621 17.3332H5.33331V14.6665H21.5621Z"
                          fill="#0F141C"
                        />
                      </svg>
                    </a>
                    <a
                      class="btn-hover text-dark"
                      target="_blank"
                      href="https://github.com/Suriyaprakash2023/Discover-Destinations"
                      >View Git
                      <img
                        src="{% static 'images/svg/git.svg' %}"
                        class="ms-2 text-dark"
                        style="height: 92%; color: #fff !important"
                      />
                    </a>
                  </div>
                </div>
              </div>

              <div class="blog-main zoom_in">
                <div class="blog-img-section">
                  <img
                    src="https://imgs.search.brave.com/grbT5-eeZa5TZPksYv-x75b0S9y--Pvn5v6PIBhYI4g/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9kb2Nw/dWxzZS5jb20vd3At/Y29udGVudC91cGxv/YWRzLzIwMjQvMTIv/VW50aXRsZWQtZGVz/aWduLmpwZw"
                    alt="flower"
                    style="height: 250px; width: 330px; border-radius: 20px"
                  />
                </div>
                <div>
                  <h3 class="post-date">24 January 2024 | Flask</h3>
                  <h4 class="steps">Hospital Management System</h4>
                  <h5 style="color: #909090; font-size: medium">
                    This Hospital Management System, built with Flask,
                    efficiently manages patient records, appointments, and
                    hospital staff. It allows easy scheduling, tracking, and
                    report generation. The system offers real-time updates and
                    secure data handling for better healthcare delivery. Its
                    user-friendly interface ensures seamless interaction for
                    both patients and staff.
                  </h5>
                  <div class="wrapper blog-btn">
                    <a
                      class="btn-hover me-3"
                      target="_blank"
                      href="https://hospital-management-system-vob6.onrender.com"
                      >View Live
                      <svg
                        class="btn-arrow-right"
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                      >
                        <path
                          d="M21.5621 14.6665L14.4101 7.51452L16.2957 5.62891L26.6666 15.9999L16.2957 26.3707L14.4101 24.4851L21.5621 17.3332H5.33331V14.6665H21.5621Z"
                          fill="#0F141C"
                        />
                      </svg>
                    </a>
                    <a
                      class="btn-hover text-dark"
                      target="_blank"
                      href="https://github.com/Suriyaprakash2023/Hospital-Management-System"
                      >View Git
                      <img
                        src="{% static 'images/svg/git.svg' %}"
                        class="ms-2 text-dark"
                        style="height: 92%; color: #fff !important"
                      />
                    </a>
                  </div>
                </div>
              </div>

              <div class="blog-main zoom_in">
                <div class="blog-img-section">
                  <img
                    src="https://senzagro.com/images/Solution/SenzAgro.jpg"
                    alt="flower"
                    style="height: 250px; width: 330px; border-radius: 20px"
                  />
                </div>
                <div>
                  <h3 class="post-date">06 March 2024 | Flask</h3>
                  <h4 class="steps">Farmer Management System</h4>
                  <h5 style="color: #909090; font-size: medium">
                    This Farmer Management System, built using Flask, helps
                    farmers manage crops, livestock, and sales data efficiently.
                    It provides real-time insights, inventory tracking, and
                    simplifies daily farming operations. The system’s scalable
                    backend ensures reliable performance for users. It also
                    offers an intuitive user interface for easy navigation and
                    data entry.
                  </h5>
                  <div class="wrapper blog-btn">
                    <a
                      class="btn-hover me-3"
                      target="_blank"
                      href="https://farmer-managements-s6qf.onrender.com/"
                      >View Live
                      <svg
                        class="btn-arrow-right"
                        xmlns="http://www.w3.org/2000/svg"
                        width="32"
                        height="32"
                        viewBox="0 0 32 32"
                        fill="none"
                      >
                        <path
                          d="M21.5621 14.6665L14.4101 7.51452L16.2957 5.62891L26.6666 15.9999L16.2957 26.3707L14.4101 24.4851L21.5621 17.3332H5.33331V14.6665H21.5621Z"
                          fill="#0F141C"
                        />
                      </svg>
                    </a>
                    <a
                      class="btn-hover text-dark"
                      target="_blank"
                      href="https://github.com/Suriyaprakash2023/Farmer-Management-System"
                      >View Git
                      <img
                        src="{% static 'images/svg/git.svg' %}"
                        class="ms-2 text-dark"
                        style="height: 92%; color: #fff !important"
                      />
                    </a>
                  </div>
                </div>
              </div>
            </section>
            <!-- ====================================== Section Blogs End ===================================== -->

            <!-- ====================================== Section One ===================================== -->
            <section
              class="section-one overflow-hidden"
              id="home"
              style="display: none"
            >
              <div class="row">
                <div class="col-xxl-6 col-lg-6">
                  <h2 class="jessica-main-text zoom_in">
                    ### <span>###</span>
                  </h2>
                  <h3 class="back-End-dev designer2">Back-End Web Developer</h3>
                  <p class="best fade_down">
                    We appreciate your trust greatly our clients choose us & our
                    products because they know we are the best.
                  </p>
                  <div class="section-one-btns-main fade_down">
                    <div class="wrapper">
                      <a class="btn-hover" href="#portfolio">View Projects</a>
                    </div>
                    <div class="wrapper">
                      <a class="btn-hover btn-hover2" href="#contact"
                        >Contact Me</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-xxl-6 col-lg-6 position-relative">
                  <img
                    class="flower"
                    src="{% static 'images/flower.png' %}"
                    alt="flower"
                  />
                  <img
                    class="circular-img"
                    src="{% static 'images/5.png' %}"
                    alt="circular-img"
                  />
                  <img
                    class="jessica-main-img zoom_in"
                    src="{% static 'images/jessica-main-img.png' %}"
                    alt="jessica-main-img"
                  />
                  <div class="worked-box">
                    <p class="worked-more">
                      Worked with more than 100 project's
                    </p>
                    <div class="client-img-main position-relative">
                      <img
                        class="client-img client-img1"
                        src="{% static 'images/clients-img1.jpg' %}"
                        alt="clients-img1"
                      />
                      <img
                        class="client-img client-img2"
                        src="{% static 'images/clients-img2.jpg' %}"
                        alt="clients-img2"
                      />
                      <img
                        class="client-img client-img3"
                        src="{% static 'images/clients-img3.jpg' %}"
                        alt="clients-img3"
                      />
                      <img
                        class="client-img client-img4"
                        src="{% static 'images/clients-img4.jpg' %}"
                        alt="clients-img4"
                      />
                      <p class="worked-more worked-more2">100+ Clients</p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- ====================================== Section one End ===================================== -->
            <!-- ====================================== Section Marquee ===================================== -->
            <section class="Marquee-main overflow-hidden" style="display: none">
              <h3 class="fade_up">Trusted by World Leading Brands</h3>
              <div class="logos logos2">
                <div class="logos-slide">
                  <div class="marquee__content">
                    <div class="marquee-img-main">
                      <img
                        class="brand-logos"
                        src="{% static 'images/brand-logo1.png' %}"
                        alt="brand-logo1"
                      />
                    </div>
                    <div class="marquee-img-main">
                      <img
                        class="brand-logos"
                        src="{% static 'images/brand-logo2.png' %}"
                        alt="brand-logo2"
                      />
                    </div>
                    <div class="marquee-img-main">
                      <img
                        class="brand-logos"
                        src="{% static 'images/brand-logo3.png' %}"
                        alt="brand-logo3"
                      />
                    </div>
                    <div class="marquee-img-main">
                      <img
                        class="brand-logos"
                        src="{% static 'images/brand-logo4.png' %}"
                        alt="brand-logo4"
                      />
                    </div>
                    <div class="marquee-img-main">
                      <img
                        class="brand-logos"
                        src="{% static 'images/brand-logo5.png' %}"
                        alt="brand-logo5"
                      />
                    </div>
                    <div class="marquee-img-main">
                      <img
                        class="brand-logos"
                        src="{% static 'images/brand-logo6.png' %}"
                        alt="brand-logo6"
                      />
                    </div>
                    <div class="marquee-img-main">
                      <img
                        class="brand-logos"
                        src="{% static 'images/brand-logo7.png' %}"
                        alt="brand-logo7"
                      />
                    </div>
                    <div class="marquee-img-main">
                      <img
                        class="brand-logos"
                        src="{% static 'images/brand-logo8.png' %}"
                        alt="brand-logo8"
                      />
                    </div>
                    <div class="marquee-img-main">
                      <img
                        class="brand-logos"
                        src="{% static 'images/brand-logo7.png' %}"
                        alt="brand-logo9"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </section>
            <!-- ====================================== Section Marquee End ===================================== -->

            <!-- ====================================== Section Portfolio End ===================================== -->
          </div>
        </div>
      </div>
    </div>

    <script>
      function redirectToAbout() {
        // Redirects to the index page and automatically scrolls to the #about section
        window.location.href = "{% url 'index' %}#about";
      }
      function redirectToHome() {
        // Trigger click on the <a> inside the <li> to navigate
        window.location.href = "{% url 'index' %}";
      }
      function redirectToResume() {
        // Trigger click on the <a> inside the <li> to navigate
        window.location.href = "{% url 'index' %}#resume";
      }
      function redirectToPortfolio() {
        // Trigger click on the <a> inside the <li> to navigate
        window.location.href = "{% url 'index' %}#portfolio";
      }
      function redirectToContact() {
        // Trigger click on the <a> inside the <li> to navigate
        window.location.href = "{% url 'index' %}#contact";
      }
    </script>

    <script src="{% static 'javascript/jquery.min.js' %}"></script>
    <script src="{% static 'javascript/fancybox.min.js' %}"></script>
    <script src="{% static 'javascript/magnific-popup.min.js' %}"></script>
    <script src="{% static 'javascript/slick.min.js' %}"></script>
    <script src="{% static 'javascript/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'javascript/script.js' %}"></script>
  </body>
</html>
